<!doctype html>
<html lang="en">
  	<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

	<title>{{ myX }} or {{ myY }}? </title>
  	</head>

	<body>
		<div class="hero-wallpaper">
			<img src="/{{mySiteWallpaper}}" alt="">
		</div><!-- /.hero-wallpaper -->

		<header class="hero">
			<div class="wrapper">
				<div class="hero-title">
					<h1>Machine learning for image recognition.</h1>
				</div><!-- /.hero-title -->

				<div class="hero-subtitle">
					<h3>
						Курсов проект по Изкуствен интелект с преподавател к-н лейт. асистент Веселин Евгениев Атанасов.
					</h3>

					<h3>	
						Екип: Христомир Цонев 12281-31 и Пресиян Цоневски 12281-26.
					</h3>
				</div><!-- /.hero-subtitle -->	
			</div><!-- /.wrapper -->
		</header><!-- /.hero -->
		
		<div class="wrapper">	
			<div class="container">
				 <div class="row">
					<div class="col text-center">
					</div>
				</div>
				<div class="row align-items-end">
					<div class="col text-center">
						<img height="150" width="150" src="/{{mySampleX}}" class="img-thumbnail" />
						<h1>{{ myX }}</h1>
					</div>
					<div class="col text-center">
						<h1>or</h1>
					</div>
					<div class="col text-center">
						<img height="150" width="150" src="/{{mySampleY}}" class="img-thumbnail" />
						<h1>{{ myY }}</h1>
					</div>
				</div>
				<hr/>
				<div class="row align-items-center justify-content-center">
					<div class="col-8">
						<h4>Upload new File</h4>
						<form action="/" method=post enctype="multipart/form-data">
							<input type="file" name="file" />
							<input type="submit" value="Upload" />
						</form>
					</div> 
				</div>
				{% for message in get_flashed_messages() %}    
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
				<hr/>
				<div class="row">
				{% if results is defined %}
					{% for i in range(len-1,-1,-1) %}
					
						{{ results[i]|safe }}
				   
					{% endfor %}
				{% endif %}
				</div>     
			</div>
		</div><!-- /.wrapper -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>