
/* ------------------------------------------------------------ *\
	Colors
\* ------------------------------------------------------------ */

:root {
	--primary: #3984AA;
	--accent: #83D0CB;
	--bg-blue: #386685;
}

body {
	position: relative;
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */


.wrapper {
	width: 1200px;
	min-width: 1200px;
	max-width: 1200px;
	margin:0 auto;
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	background-color: rgba(168, 243, 255, 50);
	display: inline-block;
	width: 100%;
	color: var(--white);
	text-align: center;
	padding: 2rem;
}

.hero-title {
	display: inline-block;
	margin:0 auto;
	color: var(--white);
	text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
 	Container
 \* ------------------------------------------------------------ */
 
.container {
	padding: 3rem;
	margin-bottom: 3rem;
}

/* ------------------------------------------------------------ *\
	Images
\* ------------------------------------------------------------ */

.img-thumbnail {
	max-width: 150px;
	height: 100%;
}
	
.img-thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* ------------------------------------------------------------ *\
	Hero Wallpaper
\* ------------------------------------------------------------ */

.hero-wallpaper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hero-wallpaper img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
